#headLine {
    background-color: grey;
}

.frame {
    border: 1.5px solid grey;
    width: 100%;
}

.main {
    background-color: deepskyblue;
    width: 80%;
    height: 500px;
}

.sideView {
    background-color: greenyellow;
    text-align: center;
    width: 20%;
    height: 500px;
}

#chat {
    background-color: rgb(255, 208, 215);
}

.loginForm {
    height: 20%;
    background-color: teal;
    float: right;
    text-align: center;
}
