body{
    background-image: url(ToDoList.PNG);
    margin: 0;
}
#headLine {
    background-color: darkgoldenrod;
}

.frame {
    border: 1.5px solid grey;
    background-color: greenyellow;
    width: 100%;
    border-collapse: collapse;
}

.main {
    background-color: skyblue;

}

.sideView {
    background-color: goldenrod;
    text-align: center;
    width: 20%;
    height: 500px;
    border-top: solid 3px darkgoldenrod
}

tbody {
    background-color: white;
}

#chat {
    background-color: rgb(255, 208, 215);
}

.main_todo {
    border: 0px solid;
    size: 100px;
    font-family: fantasy;
    align-items: unset;
    padding: 0;
}

.noresize {
    resize: none;
}
#todo{
    width: 1000px;
}
.img{
    width: 50px;
    height: 50px;
}
.bottom{
  background: dimgray;
}
#grid{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.main_todo {
  border-bottom: solid 3px gold;
  margin: 0;
  background: white;
}
p {
  margin: 0;
}
