#headLine{
    background-color: grey;
}
.frame{
    border: 1px solid grey;
    width: 100%;
}
.main {
    background-color: deepskyblue;
    width: 80%;
    height: 200px;
}
.sideView{
    background-color: greenyellow;
    text-align: center;
    width: 20%;
    height: 200px;
}
#chat{
    background-color: lightpink;
}
.loginForm{
    height: 20%;
    background-color: teal;
}
