body {
    background-image: url('todopicture.jpg');
    width: 100%;
    position: absolute;
    background-size: cover;
    margin: 0;
}
#start{
    border: solid 1px;
    background-color: rgba(245, 245, 245, 0.6);
    margin-top: 450px;
    margin-bottom: 400px;
}
p{
    align-items: center;
    text-align: left;
    margin: 0;
    padding-right: auto;
    background: white;
}
button {
    font-size: 50px;
    font-family: Verdana;
    align-items: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.6);
    border: 0;
    outline: 0;
}

#start :hover {
    background-color: dimgray;
}
.bottom{
  margin: auto;
}
